/* this is css comment */
body {
    font-family: arial ;
    font-size:18px;
}

header, footer {
    background-color:brown
}

.site-title {
    color:bisque
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

section ul li {
    list-style-type: square;
}

section>ul :nth-child(odd) {
    background-color: bisque
}

nav>ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

nav {
    background-color: bisque;
    border-style:groove;
}

a:visited {
    color:black
}

a:hover {
    color:brown
}