/* text font family */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* body color */
body {
    background-color: #aad4cf;
}

/* color layout */
.wrapper {
    background-color:#D6F2EE;
    width: 1000px;
    margin:auto;
}

/* style of header */
.container {
    position: relative;
    text-align: center;
}

figure {
    margin: 0px;
}

figcaption {
    padding : 10px;
    position: absolute;
    top: 145px;
    left: 305px;
    font-size: 30px;
    color: white;
}

figure img {
    width: 100%;
    height:auto;
    display: block;
}

/* style of navigations */
nav li {
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    width: 84px;
    padding: 5px 120px 5px 125px;
    border: 2px;
    border-right: 1.5px groove black;
    font-size: 22px;

}

nav ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.contact {
    border-right: none;
}

a:link {
    text-decoration : none;
}

/* life of starfish section */
.container2 {
    width:auto;
    margin:10px;
}

/* heading 2 */
h2 {
    font-size: 32px;
    margin-top: 45px;
}

/* this is the image with the text wrap */
.lonestarfish {
    width:250px;
    height:250px;
    margin-right: 25px;
    margin-bottom: 35px;
    float: left;
}

 article p {
    line-height: 21px;
}

/* this is the facts of starfish section */
.facts {
    width:auto;
    margin: 10px;
}
/* facts list */
.list ul {
    margin-top: 12px;
    padding: 0 0 0 20px;
}

/* facts about starfish heading */
h3 {
    margin: 40px 0px 10px 0px;
    font-size: 27px;
}

/* this is forms (contacts) section */
.container3 {
    width:auto;
    margin:10px;
}

form {
    border-style: groove;
    padding: 40px 10px 10px 10px;
}

/* contact heading */
h4 {
    font-size: 27px;
    margin: 40px 0px 10px 0px;
}

/* styles for name and email boxes */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px groove rgb(169, 169, 169);
    border-radius: 4px;
    box-sizing: border-box;
}

/* style for message box */
textarea {
    width: 100%;
    height:150px;
    padding: 12 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

/* send button */
button {
    margin: 10px 8px 8px 0px;
    padding: 10px;
}

/* this is the copyright */
footer {
    text-align: right;
    padding: 20px
}