body {
    background-color: #aad4cf;
}

.wrapper {
    background-color:#D6F2EE;
    width: 1000px;
    margin:auto;
}

.container {
    position: relative;
    text-align: center;
}

.widestarfish {
    width:1000px;
}