body {
    font-family: "open sans", sans-serif;
    max-width: 1200px;
}

p {
    font-size: 1rem;
    line-height: 17pt;
}

/* header style */
header {
    /* background-color: #222; */
}

/* nav container */
nav {
    background-color: #222;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}

/* nav content styles */
.logo {
    background-color: #c78c06;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding: 1rem;
}

nav ul li:first-child {
    background-color: #c78c06;
}

.home {
    color: #222;
}

nav ul a {
    color: #c78c06;
    font-size: 1.5rem;
}

/* search bar */
.search-bar {
    width: 100%;
    display: flex;
    position: relative;
}

.search-bar input {
    flex: 1;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.search-bar button {
    background-color: #222;
    border: 1.5px solid #c78c06;
    color: #c78c06;
    padding: 0 0.3rem;
    font-size: 22px;
}

/* main banner */
.title {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    width: 100%;
    height: auto;
    display: block;
}

.content-title {
    background-color: #222222c9;
    color: white;
    position: absolute;
    padding: 2rem;
}

.content-title h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-title p {
    margin-bottom: 2rem;
}

/* connect with us button */
.content-title a {
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.content-title i {
    font-size: 1.2rem;
}

/* about us section */
.about {
    background-color: #ffe6ac;
    padding: 1rem;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0 1.5rem 0;
}

/* all services container */
.allservice {
    background-color: white;
    padding: 1rem;
}

.allservice h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0;
}

/* about section */
.serviceone {
    background-color: #ffe6ac;
    margin: 0.5rem;
}

.serviceone img {
    width: 100%;
}

.serviceone h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.digital {
    padding: 1rem;
}

.serviceone p {
    padding-bottom: 1rem;
}

.serviceone a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.serviceone i {
    font-size: 1.5rem;
}

/* marketing section */
.servicetwo {
    background-color: #ffe6ac;
    margin: 0.5rem;
}

.servicetwo img {
    width: 100%;
}

.servicetwo h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.marketing {
    padding: 1rem;
}

.servicetwo p {
    padding-bottom: 1rem;
}

.servicetwo a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicetwo i {
    font-size: 1.5rem;
}

/* video production */
.servicethree {
    background-color: #ffe6ac;
    margin: 0.5rem;
}

.servicethree img {
    width: 100%;
}

.servicethree h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.video {
    padding: 1rem;
}

.servicethree p {
    padding-bottom: 1rem;
}

.servicethree a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicethree i {
    font-size: 1.5rem;
}

/* web development */
.servicefour {
    background-color: #ffe6ac;
    margin: 0.5rem;
}

.servicefour img {
    width: 100%;
}

.servicefour h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.webdev {
    padding: 1rem;
}

.servicefour p {
    padding-bottom: 1rem;
}

.servicefour a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicefour i {
    font-size: 1.5rem;
}

/* print section */
.servicefive {
    background-color: #ffe6ac;
    margin: 0.5rem;
}

.servicefive img {
    width: 100%;
}

.servicefive h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.print {
    padding: 1rem;
}

.servicefive p {
    padding-bottom: 1rem;
}

.servicefive a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicefive i {
    font-size: 1.5rem;
}

/* vision section */
.vision {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision img {
    width: 100%;
    height: auto;
    display: block;
}

.content-vision {
    color: white;
    position: absolute;
    padding: 2rem;
}

.content-vision h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-vision p {
    margin-bottom: 2rem;
}

/* learn more button */
.content-vision a {
    background-color: #222222e2;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.content-vision i {
    font-size: 1.2rem;
}