html {
    font-family: "open sans", sans-serif;
}

body {
    width: auto;
}
/* text - font size set up */
p {
    font-size: 1rem;
    line-height: 17pt;
}

/* header style */
header {
    background-color: #222;
}

/* nav container */
nav {
    padding: 1rem;
}

/* nav content styles */
nav ul .logo {
    background-color: #c78c06;
    display: flex;
    justify-content: left;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding: 1rem 0;
}

nav ul :nth-child(2) {
    background-color: #c78c06;
}

.home {
    color: #222;
}

nav ul a {
    color: #c78c06;
    font-size: 1.5rem;
}

/* nav - search bar */
.search-bar {
    width: 100%;
    display: flex;
}

.search-bar input {
    font-size: 1rem;
    padding: 0.5rem;
    flex: 1;
}

.search-bar button {
    background-color: #222;
    border: 1.5px solid #c78c06;
    color: #c78c06;
    font-size: 1.5rem;
    padding: 0.5rem;
}

/* main banner - title */
.title {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    object-position: center;
}

.content-title {
    background-color: #222222c9;
    color: white;
    position: absolute;
    padding: 1rem;
}

.content-title h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-title p {
    margin-bottom: 2rem;
}

/* main banner - connect with us button */
.content-title a {
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.content-title i {
    font-size: 1.2rem;
}

/* about us section */
.about {
    background-color: #ffe6ac;
    padding: 1rem;
}

.about img {
    width: 100%;
}

.about h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0 1.5rem 0;
}

/* all services container */
.allservice {
    background-color: white;
    margin: 1rem;
}

.allservice h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

/* Digital Transformation */
.serviceone {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

.serviceone img {
    width: 100%;
}

.serviceone h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.digital {
    padding: 1rem;
}

.serviceone p {
    padding-bottom: 1rem;
}

.serviceone a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.serviceone i {
    font-size: 1.5rem;
}

/* marketing section */
.servicetwo {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

.servicetwo img {
    width: 100%;
}

.servicetwo h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.marketing {
    padding: 1rem;
}

.servicetwo p {
    padding-bottom: 1rem;
}

.servicetwo a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicetwo i {
    font-size: 1.5rem;
}

/* Video production */
.servicethree {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

.servicethree img {
    width: 100%;
}

.servicethree h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.video {
    padding: 1rem;
}

.servicethree p {
    padding-bottom: 1rem;
}

.servicethree a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicethree i {
    font-size: 1.5rem;
}

/* Web development */
.servicefour {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

.servicefour img {
    width: 100%;
}

.servicefour h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.webdev {
    padding: 1rem;
}

.servicefour p {
    padding-bottom: 1rem;
}

.servicefour a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicefour i {
    font-size: 1.5rem;
}

/* print section */
.servicefive {
    background-color: #ffe6ac;
    margin-top: 1rem;
}

.servicefive img {
    width: 100%;
}

.servicefive h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

.print {
    padding: 1rem;
}

.servicefive p {
    padding-bottom: 1rem;
}

.servicefive a {
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.servicefive i {
    font-size: 1.5rem;
}

/* vision section */
.vision {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision img {
    width: 100%;
    height: 310px;
    display: block;
    object-fit: cover;
}

.content-vision {
    color: white;
    position: absolute;
    padding: 2rem;
}

.content-vision h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-vision p {
    margin-bottom: 2rem;
}

/* learn more button */
.content-vision a {
    background-color: #222222c0;
    color: white;
    border: 1px solid #c78c06;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.content-vision i {
    font-size: 1.2rem;
}

/* our team section */
.team {
    background-color: white;
    margin: 1rem;
}

.team h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

/* john doe */
.john-image img {
    width: 100%;
}

.ceo {
    width: auto;
    background-color: #ffe6ac;;
    padding: 1rem;
}

.ceo h3 {
    font-size: 2rem;
    font-weight: bold;
}

.ceo h4 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 2px solid #c78c06;
}

/* bob rite */
.bob-image img {
    width: 100%;
    margin-top: 1rem;
}

.cfo {
    width: auto;
    background-color: #ffe6ac;;
    padding: 1rem;
}

.cfo h3 {
    font-size: 2rem;
    font-weight: bold;
}

.cfo h4 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: 2px solid #c78c06;
}

/* contact us section */
.contact {
    background-color: white;
    margin: 1rem;
}

.contact h2 {
    font-size: 3rem;
    font-weight: bold;
}

.message {
    width: auto;
}

form {
    border-style: groove;
}

.contact h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}

/* styles for name and email boxes */
.message input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px groove rgb(169, 169, 169);
    border-radius: 4px;
    box-sizing: border-box;
}

/* style for message box */
.message textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

/* send button */
.message button {
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #222 ;
    color:#c78c06;
}

/* hours of operation table section */
.hours {
    width: 100%;
    margin: 1rem 0;
}

.hours h3 {
    font-size: 2rem;
    font-weight: bold;
}

.hours table {
    width: 100%;
    border: 1px solid #222;
    text-align: center;
}

.hours thead th {
    background-color: #ffe6ac;
    padding: 1rem;
    border: 1px solid #222;
}

.hours tbody td {
    padding: 1rem;
    border: 1px solid #222;
    text-align: left;
}

/* location section */
.location {
    width: 100%;
}

.location h3 {
    font-size: 2rem;
    font-weight: bold;
}

.location iframe{
    width: 100%;
    height: 450px;
}

/* footer section */
footer {
    background-color: #222;
    color: #c78c06;
    width: auto;
    padding: 1.5rem;
}

footer a {
    text-decoration: underline;
    color: #c78c06;
}

footer :nth-child(1) {
    padding-bottom: 1rem;
}

@media screen and (min-width: 760px) {

    /* navigations sections */
    nav {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        margin-right: 2rem;
        gap: 2rem;
        width: 100%;
        padding: 1rem;
    }

    nav ul .logo {
        background-color: transparent;
    }

    nav ul :nth-child(2) {
        padding: 1rem;
    }

    nav ul a {
        font-size: 1rem;
    }

    .search-bar {
        width: 30%;
    }

    /* main banner/title */  
    .content-title {
        width: 1200px;
        margin: auto;
        background-color: #222222c9;
        color: white;
        position: absolute;
        padding-top: 7rem;
    }
    
    .content-title h1 {
        font-size: 6rem;
        font-weight: bold;
        line-height: 7rem;
        margin: 1.5rem 0;
    }
    
    /* connect with us button */
    .content-title a {
        background-color: #c78c06;
        color: #222;
        text-decoration: none;
        padding: 1.5rem;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    .content-title i {
        font-size: 1.2rem;
    }

    /* about us section */
    .about-wrapper {
        background-color: #ffe6ac;
    }
    .about {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .written-about h2 {
        padding: 2rem 0;
    }

    .content-about, .written-about {
        flex-basis: calc(50%);
    }

    /* all services container/grid */
    .allservice {
        width: 1200px;
        margin: auto;
        margin-bottom: 1rem;
    }

    .allservice h2 {
        padding-top: 1rem;
    }

    .grid-service {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 1rem;
    }

    .grid-service h2 {
        grid-column: 1 / 7;
    }

    /* button adjustment, text centered inside the button */
    .serviceone a, .servicetwo a {
        width: 88%;
        justify-content: center;
    }

    .servicethree a, .servicefour a, .servicefive a {
        width: 80%;
        justify-content: center;
    }

    /* services grid positions */
    .serviceone {
        grid-column: 1 / 4;
    }

    .servicetwo {
        grid-column: 4 / 7;
    }

    .servicethree {
        grid-column: 1 / 3;
    }

    .servicefour {
        grid-column: 3 / 5;
    }

    .servicefive {
        grid-column: 5 / 7;
    }

    /* vision section */
    .content-vision {
        width: 1200px;
        padding: 0 7rem;
    }

    /* team section */
    .team {
        width: 1200px;
        margin: auto;
        padding : 0 6rem;
    }

    .team h2 {
        padding: 1rem 0;
    }

    .team-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .john-image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .ceo {
        grid-column: 2 / 2;
        grid-row: 1 / 2;
    }

    .bob-image {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .bob-image img {
        margin: 0;
    }

    .cfo {
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    /* contacts section */
    .contact {
        width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0;
    }

    .contact h2 {
        flex-basis: 100%;
    }

    .message {
        flex-basis: calc(50% - 1rem);
    }

    .location {
        flex-basis: calc(50% - 1rem);
    }

    .hours {
        flex-basis: 100%;
        order: 2;
    }

    /* footer section */
    footer p{
        width: 1200px;
        margin: auto;
    }
}
